* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }
  
  body {
    background: rgb(255, 255, 255); 
    font-family: 'Shadows Into Light', cursive;
    min-height: 100vh;
  }
  button {
    height: fit-content;
    cursor: pointer;
    color: #04202c;
    background-color: #e2e2df;
    margin-left: 0.1rem;
    height: 2.25rem;
    width: 6rem;
    border-radius: 0.5rem;
  }
  button:hover {
    cursor: pointer;
  }
  ::placeholder{
    background-color: #04202c;
    height: 40px;
    padding-top: 10px;
    color: white;
    padding-left: 10px;
    font-size: 20px;
  }
  
  .container {
    width: 600px;
    margin: auto;
    padding-top: 50px;
    color: rgb(1, 1, 1);
    
  }
  
  .container h1 {
    color: #B84045;
    padding-left: 10rem;
    font-weight: lighter;
    font-size: 5rem;
    font-family: 'Times New Roman', Times, serif;
  }
  .input-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0px 0px 10px 0px;
  }
  .to-do-input{
    display: flex;
  }
  .to-do-input input {
    width: 500px;
    font-family:'Times New Roman', Times, serif;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px;
    outline: none;
  }
  
  .operations{
    margin-left: 35rem;
  }
  .operations button {
    margin-top: 2rem;
    margin-left: 2.5rem;
    height: 2.25rem;
    width: 6rem;
  }
  
  hr {
    width: 100%;
    height: 2px;
    margin-top: 1rem;
    background-color: rgba(0, 0, 0, 0.235);
  }
  
  .inputContainer button {
    height: 2.25rem;
    width: 5rem;
  }
  
  .tasks {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }
  
  .tasks div {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }
  
  .tasks button {
    /* padding: 0.5rem 1.8rem; */
    width: 15rem;
    height: 2rem;
    border-radius: 0.5rem;
    border-width: 1px;
    color: rgb(143, 43, 7);
    border-color: rgba(0, 0, 0, 0.269);
    font-size: 1rem;
  }
  
  .tasks input {
    width: 1.25rem;
  }
  
  .task {
    width: 40rem;
    display: flex;
    align-items: center;
    background-color: #dfd8d8;
    justify-content: center;
    padding: 1rem 1rem;
    margin-top: 0.5rem;
    border-radius: 0.3rem;
  }
  
  .check {
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.472);
  }
  
  .uncheck {
    text-decoration: none;
  }
  
  .instruction {
    color: rgba(0, 0, 0, 0.343);
  }
  